<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>press_110000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,142}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{142,142}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{152,120}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{152,120}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{120,128}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{120,128}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110030.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,438},{132,124}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,37},{132,124}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110040.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,288},{124,148}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{124,148}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,142}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{142,142}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{118,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{118,122}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110080.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,702},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,38},{114,112}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110090.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,572},{118,128}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{118,128}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{120,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{120,132}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{126,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,36},{126,118}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{140,140}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{140,140}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>press_110130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,142}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{142,142}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>skill_1100201.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,816},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,38},{114,112}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pressicon.png</string>
            <key>size</key>
            <string>{250,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cabd5f9b3ce784efba3b6b296df77367:48080c8eea504dc1f67e3cde244557cf:d0d75266ed81f0b58a170e4d624faf33$</string>
            <key>textureFileName</key>
            <string>pressicon.png</string>
        </dict>
    </dict>
</plist>
